{% extends 'recruiter_nav.html' %}
{% block body %}
{% load static %}
<style>
	
.images{

	background-image:  url({% static 'images/f2.jpg' %});
	background-size: cover;
	background-position: center;
}

</style>

			<h1><b><marquee style='background-color: yellow'></b></marquee>Applied candidate list</h1>
<div class="container">
<table id="example" class="table table-hover">
	<thead>
		<tr style="background-color: #deb887">
			<th>sr.no</th>
			<th>Full Name</th>
			<th>Email id</th>
			<th>Contact no</th>
			<th>Job Title</th>
			<th>Company</th>
			<th>Apply Date</th>
			<th>Resume</th>
			
		</tr>
	</thead>
	<tbody>
		{% for i in data %}
		<!-- {% ifequal request.user.id i.job.recruiter.user.id %} -->
		<tr style="background-color: yellow">
			<td>{{forloop.counter}}</td>
			<td>{{i.student.user.first_name}}{{i.student.user.last_name}}</td>
			<td>{{i.student.user.email}}</td>
			<td>{{i.student.mobile}}</td>
			<td>{{i.job.title}}</td>
			<td>{{i.job.recruiter.company}}</td>
			<td>{{i.apply_date}}</td>

			<td><a href="{{i.resume.url}}" download="">Download Resume</a></td>
	
		</tr>
<!-- 		{% endifequal %}
 -->		{% endfor %}
	</tbody>
</table>
</div>



{% endblock %}
