h{% extends 'admin_nav.html' %}
{% block body %}
{% load static %}
<style>
	
.images{

	background-image:  url({% static 'images/f2.jpg' %});
	background-size: cover;
	background-position: center;
}

</style>

			<h1><b><marquee style='background-color: yellow'></b></marquee>Change Admin Password</h1><hr>

<form method="post">{% csrf_token %}



<label>Current Password</label>
<input style="font-size: 18px" type="text" name="current_password" required="true"><br><br>
<label>New Password</label>
<input style="font-size: 18px" type="text" name="new_password" required="true"><br><br>
<label>Confirm password</label>
<input style="font-size: 18px" type="text" name="confirm_password" required="true"><br><br>
	
	<input type="submit" value="submit">
</form>
<div class="images">

</div>
{% ifequal error 'no' %}
<script>
	alert('Your Password Changed successfull');
	window.location = ("{% url 'logout' %}")
</script>
{% endifequal %}

{% ifequal error 'yes' %}
<script>
	alert('something went wrong...');

</script>
{% endifequal %}

{% ifequal error 'not' %}
<script>
	alert('Your Current password is wrong...');

</script>
{% endifequal %}



{% endblock %}
