{% extends 'navigation.html' %}
{% block body%}
{% load static %}

<div style="background-color: green; width: 100%; height: 100px">
	<h2 style="padding-top: 2%; padding-left: 7%; color: white">About us</h2>
</div>

<div style="text-align: center;">
	
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d53977.250418752934!2d75.6168357!3d32.2694306!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391c7f5d473c84b3%3A0x5335739bee705d89!2sPathankot%2C%20Punjab%20145001!5e0!3m2!1sen!2sin!4v1628617427131!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<h2 style="color: blue">contact Us</h2>
<ul style="color: red">
	<li><b>Email ID : vipankumar@gmail.com</b></li><br>
	<li><b>Contact : 9878034057</b></li><br>
	<li><b>Address : pathankot, village-targarh, Post Office Bhoa</b></li><br>
	<li><b>Office Hours : 9:00am to 6:00pm</b></li><br>n
	

</ul>
</div>

{% endblock %}
