{% extends 'navigation.html' %}
{% block body %}
{% load static %}
<style>
	
.images{

	background-image:  url({% static 'images/f2.jpg' %});
	background-size: cover;
	background-position: center;
}

</style>

<div class="register">
			<h1><b><marquee style='background-color: yellow'>User Login</b></marquee></h1>


	<form method="post" action="/job/user_login/">{% csrf_token %}



<label>Username</label>
<input style="font-size: 18px" type="text" name="username" required=""><br><br>
<label>Password&nbsp</label>
<input style="font-size: 18px"  type="Password" name="password1" required=""><br><br>
<input style="background-color: yellow; color: blue; padding: 5px 12px" type="submit" value="Login">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a style="background-color: red; color: white; padding: 5px 10px" href="/job/signup/">Create New Account</a>
</form>
<div class="images">

</div>

{% ifequal error 'no' %}
<script>
	alert('Login successfull');
	window.location = ("{% url 'userhome' %}")
</script>
{% endifequal %}

{% ifequal error 'yes' %}
<script>
	alert('Invalid Login Cardientials, try again....');

</script>
{% endifequal %}




{% endblock %}
